/* page setup */
* { margin: 0;
    padding: 0;
/* border used to view box containers on webpage */
/*border: 1px solid red;*/
}

html, body {
    height: 100%;
    text-align: left;
}

/* used for expandable containers that must be the size 
   of their children */
span{
    display: inline-block;
}


/**** STICKY FOOTER CSS LAYOUT: http://www.cssstickyfooter.com ****/
#wrapper { min-height: 100%; }

#main { overflow: auto;
        padding-bottom: 200px; }  /* must be same height as the footer */

#footer { position: relative;
	  margin-top: -200px; /* negative value of footer height */
	  height: 200px;
	  border-top: 1px solid black;
	  clear: both; } 

#header { height: 65px; 
	  border-bottom: 1px solid black; }


/*** NOTE: boostrap distorts some Google Maps Overlays, to fix added this css ***/
/* Source: http://github.com/twbs/boostrap/issues/1552 */
#map label{ 
    width: auto;
    display: inline;
}
#map img{
    max-width: none;
}

/*** FULL SCREEN MAP ***/
#map_container{
    width: 100%;
    min-width: 50%;
    min-height: 480px;
    overflow: hidden;
    margin: 0 auto;
    z-index: 1;
}

